---
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { TypeArticleSkeleton } from "../../lib/contentful";
import Layout from '../../layouts/ContentPage.astro';

export async function getStaticPaths() {
  const { items } = await contentfulClient.withoutUnresolvableLinks.getEntries<TypeArticleSkeleton>({
    content_type: "articles",
  });
  const pages = items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      body: documentToHtmlString(item.fields.body),
      coverImage: item.fields.coverImage
    },
  }));
  return pages;
}

const { body, title, coverImage } = Astro.props;
---
<Layout
	title={`Jardin de Champagne | ${title}/`}
	description="description"
>
<div style={ coverImage && coverImage.fields && coverImage.fields.file ? { backgroundImage:'url(' + coverImage.fields.file.url + ')' } : {}} class="header-section">
  <div class="overlay"></div>
    <h1 class="header-title">{title}</h1>
</div>
    <article class="blog-section" set:html={body} />
  </body>
</html>
</Layout>

<style>
    .header-section {
        background-position: center;
    }
    .blog-section {
        padding: 50px;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 20%;
    }
</style>