---
import Layout from '../layouts/ContentPage.astro';
import Accordeon from '../components/Accordeon.astro';
---

<Layout
	title="Jardin de Champagne | Contact"
	description="Page contact du Jardin de Champagne."
>
<div class="header-section contact-header-container">
    <h1 class="header-title">Contact</h1>
</div>
<div class="contact-page">
<div class="contact-info-container">
    <div class="footer-section">
        <p class="footer-section-title">Adresse</p>
        <p class="footer-section-text">36 Chemin du Halage</p>
        <p class="footer-section-text">95660 - Champagne-sur-Oise</p>
        <a href="https://maps.app.goo.gl/zomz2xHwPTPFSrMA6" target="_blank">
            <img src="/images/map.svg" alt="map icon" class="footer-map-icon">
        </a>
    </div>
    <div class="footer-section">
        <p class="footer-section-title">Contact</p>
        <p class="footer-section-text">bonjour@jardindechampagne.com</p>
        <p class="footer-section-text">07.62.64.97.87</p>
        <div class="footer-social-icons-container">
            <a href="https://www.instagram.com/jardindechampagne/" target="_blank">
                <img src="/images/instagram.svg" alt="map icon" class="footer-instagram-icon">
            </a>
            <a href="https://www.facebook.com/jardindechampagne/" target="_blank">
                <img src="/images/facebook.svg" alt="map icon" class="footer-facebook-icon">
            </a>
            <a href="https://fr.linkedin.com/company/jardin-p%C3%A9dagogique-de-champagne" target="_blank">
                <img src="/images/linkedin.svg" alt="map icon" class="footer-linkedin-icon">
            </a>
        </div>
    </div>
    <div class="footer-section">
        <p class="footer-section-title">Ventes de légumes</p>
        <p class="footer-section-text">De mai à novembre</p>
        <p class="footer-section-text">Sur place : vendredi de 16h à 18h</p>
        <p class="footer-section-text">Nogent à l'Isle-Adam : samedi de 9h à 12h30</p>
        <p class="footer-section-text">Click and collect : lundi de 17h à 18h</p>
    </div>
</div>
<div class="acces-photo"></div>
<section class="go-there-container">
    <h3 class="go-there-container-title">Se rendre sur place</h3>
    <div class="go-there-content-container">
        <div class="go-there-content-left"></div>
        <div class="go-there-content-right">
            <p>Afin de se rendre à lieu, nous vous invitons à favoriser la mobilité douce en se rendant sur le lieu à pied, à vélo ou en train. </p>
            <p>La gare la plus proche est celle de Champagne-sur-Oise située à 5 minutes à pied du lieu. </p>
            <p>Pour les personnes contraintes de venir en voiture, nous vous invitons à vous garer sur la prairie avoisinant le lieu. </p>
            <p>Seules les personnes à mobilité réduite, sont autorisées à emprunter la sente jusqu’au conteneurs.</p>
        </div>
    </div>
</section>
<section class="faq-container">
    <h3 class="title">FAQ</h3>
    <div class="flex flex-wrap items-start my-12">
        <Accordeon title="Quels sont vos horaires d'ouverture ?" details="Nous sommes ouverts lors des ventes de légumes sur place le vendredi de 16h à 20h, ainsi que le lundi pour la récupération des paniers achetés en ligne. Le jardin est également accessible lors de nos différents événements et activités. En dehors de ces horaires, vous êtes toujours les bienvenus pour venir dire bonjour, échanger et visiter les lieux, tant qu’un responsable est présent sur place."/>
        <Accordeon title="Comment puis-je contribuer ou soutenir le tiers-lieu ?" details="Le jardin a régulièrement besoin d’aide pour le maraîchage, ainsi que pour divers projets de construction et de bricolage. Pour participer, il vous suffit de rejoindre le groupe WhatsApp des bénévoles afin d’être informé des différentes opportunités. Vous pouvez également nous soutenir en achetant nos légumes lors des ventes, contribuant ainsi au développement de notre activité maraîchère tout en vous régalant. Si vous ne pouvez pas nous aider sur le terrain, vous avez aussi la possibilité de soutenir le jardin financièrement en faisant un don via HelloAsso."/>
        <Accordeon title="Les activités que vous proposées sont-elles payantes ?" details="Cela dépend des activités. Il est possible qu’une adhésion annuelle (10€) vous soit demandée afin de profiter d’un service à l’année. En revanche, beaucoup d’animations sont gratuites comme par exemple nos 2 fêtes annuelles que sont la Fête du Printemps et la Fête de l’Automne."/>
        <Accordeon title="Où se situe votre tiers-lieu et comment s'y rendre ?" details="Le Jardin de Champagne se situe au bord de l'oise à l'intersection entre le chemin du halage qui longe la rivière et la rue de l'oise. Nous sommes à 8 minutes à pied de la gare de Champagne-sur-Oise. Pour être sûr de trouver le lieu, il suffit de rechercher jardin de champagne sur votre application de localisation."/>
        <Accordeon title="Je ne m’y connais pas en maraichage puis-je tout de même aider ?" details="Bien sûr ! Aucune expérience en maraîchage n’est nécessaire pour nous aider. Nous accueillons avec plaisir toutes les bonnes volontés et nous prendrons le temps de vous expliquer les différentes tâches à réaliser. C'est aussi une belle occasion d'apprendre en pratiquant, dans une ambiance conviviale. Venez comme vous êtes, avec l’envie de découvrir et de donner un coup de main !"/>
        <Accordeon title="Pourquoi faut-il adhérer à l'association pour profiter des services ?" details="L’adhésion à l’association est une obligation légale, car nous ne pouvons vendre nos légumes qu’à nos adhérents. Elle permet également de soutenir le fonctionnement du jardin et de contribuer à son développement. En adhérant, vous rejoignez une communauté engagée tout en ayant accès à nos services, événements et à la vente de nos produits."/>
        <Accordeon title="Avez-vous un parking ou un accès en transports en commun ?" details="Oui, un parking est disponible à proximité pour les visiteurs venant en voiture. Si vous préférez les transports en commun, il suffit de décendre à la gare de Champagne-sur-Oise. Le jardin est aussi accessible en vélo via le chemin du halage qui longe l'Oise."/>
        <Accordeon title="Faut-il apporter du matériel pour participer à certaines activités ?" details="En général, nous mettons à disposition le matériel nécessaire pour les activités. Toutefois, pour certaines tâches spécifiques (comme le jardinage ou le bricolage), il peut être utile d’apporter vos propres gants, bottes ou outils si vous en avez. Lorsque du matériel personnel est recommandé, nous l’indiquons en amont dans nos communications. Quoi qu’il en soit, venez avec ce que vous avez, nous trouverons toujours une solution pour vous intégrer aux activités !"/>
        <Accordeon title="Vos légumes sont-ils vraiment bio ?" details="Nos légumes sont cultivés sans pesticides ni engrais chimiques, dans le respect des pratiques agroécologiques tout en respectant le cahier des charges de l'agriculture biologique. Cependant, nous ne disposons pas du label officiel « agriculture biologique » (AB), qui nécessite une certification payante et des démarches administratives spécifiques. Nous privilégions une agriculture naturelle, respectueuse des sols et de la biodiversité, et nous vous invitons à venir voir par vous-même nos méthodes de culture !"/>
        <Accordeon title="Le tiers-lieu est-il accessible aux personnes à mobilité réduite ?" details="Nous faisons de notre mieux pour rendre le tiers-lieu accessible aux personnes à mobilité réduite. Certains espaces, comme les allées principales et les zones de rencontre, sont accessibles, mais d’autres parties du jardin peuvent être plus difficiles d’accès en raison du terrain naturel. Si vous avez des besoins spécifiques, n’hésitez pas à nous contacter en amont afin que nous puissions vous accueillir dans les meilleures conditions possibles. Il est également possible de venir jusqu'en voiture au niveau des conteneurs et de la terrasse pour les personnes à mobilité réduite."/>
        <Accordeon title="Prenez vous des stagiaires ou bien des woofeurs ?" details="Oui, nous accueillons avec plaisir des stagiaires et des woofeurs ! Que ce soit pour découvrir le maraîchage, participer à la vie du tiers-lieu ou s’investir dans nos projets, nous offrons un cadre d’apprentissage enrichissant. Les conditions d’accueil peuvent varier selon la période et nos besoins, donc n’hésitez pas à nous contacter pour en discuter et voir ensemble les possibilités."/>
        <Accordeon title="Quels sont les prix de vos légumes ?" details="Nos prix varient en fonction des saisons et des récoltes, mais nous nous efforçons de proposer des tarifs justes et accessibles, tout en valorisant le travail paysan. Pour connaître nos prix actuels, vous pouvez consulter notre tableau de tarifs sur place, nous contacter directement ou venir nous voir lors des ventes."/>
        <Accordeon title="Puis-je venir avec mes enfants/animaux de compagnie ?" details="Oui, les enfants et les animaux de compagnie sont les bienvenus au jardin ! C’est un espace convivial où petits et grands peuvent découvrir la nature et participer à la vie du tiers-lieu. Nous demandons simplement aux parents de veiller sur leurs enfants et aux propriétaires de s’assurer que leurs animaux restent sous contrôle et en dehors de la zone de culture délimité par la cloture électrique."/>
        <Accordeon title="A quoi va servir le don que je souhaite vous faire ?" details="Votre don servira directement à soutenir et développer le tiers-lieu. Il pourra être utilisé pour l’achat de matériel de jardinage, l’entretien du site, l’organisation d’événements et d’ateliers ou encore pour améliorer l’accessibilité du lieu. Chaque contribution, quelle que soit sa taille, aide à faire vivre notre projet et à le rendre toujours plus accueillant et dynamique. Merci pour votre soutien !"/>
        <Accordeon title="Proposez-vous une solutions de compostage sur place ?" details="Oui, nous mettons à disposition une solution de compostage sur place ! Vous pouvez y déposer vos déchets organiques (épluchures, marc de café, coquilles d’œufs, etc.) afin de contribuer à la fertilité du jardin et à la réduction des déchets. Nous vous invitons à nous demander conseil pour connaître les bonnes pratiques et les matières acceptées. Ensemble, faisons du compost un allié pour nos sols !"/>

    </div>
</section>
</div>
</Layout>
<style>
    .contact-header-container {
        background-image: url('/images/benevole-header-picture.jpg');
    }
    .contact-header-title {
        color: #FFF6E5;
        font-size: 50px;
        width: 445px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .call-to-action-black {
        background-color:transparent;
        border-radius:1px;
        border:1px solid #000000;
        display:inline-block;
        cursor:pointer;
        color:#000000;
        font-family:Arial;
        font-size:20px;
        padding:15px 0px;
        margin: 10px;
        text-decoration:none;
        width: 170px;
        text-align: center;
    }

    .contact-info-container {
		display: flex;
		flex-wrap: wrap;
		width: 1200px;
		margin: auto;
	}
	.footer-section {
		width: 50%;
        margin-top: 50px;
	}
	.footer-navigation-list {
		padding-left: 0;
		line-height: 1.25;
	}
	.footer-section-title {
		font-size: 16px;
		font-weight: bold;
	}
	.footer-navigation-link {
		font-size: 14px;
		list-style-type: none;
	}
	.footer-navigation-link a:hover {
		text-decoration: underline;
	}
	.footer-section-text {
		font-size: 14px;
		margin: 0;
	}
	.social-links {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
	.footer-map-icon {
		width: 15px;
  		margin-left: -2px;
	}
	.footer-social-icons-container {
        display: flex;
		margin-left: -3px;
	}
	.footer-instagram-icon {
		width: 21px;
		margin-bottom: -1px;
	}
	.footer-facebook-icon {
		width: 19px;
	}
	.footer-linkedin-icon {
		width: 19px;
	}
    .acces-photo {
        width: 1300px;
        height: 600px;
        background-image: url('/images/plan-acces.jpg');
        background-size: cover;
        margin-top: 50px;
    }
    .go-there-container-title {
        font-size: 40px;
        font-weight: 300;
        width: 400px;
        margin-bottom: 30px;
        margin-top: 100px;
    }
    .go-there-content-container {
        display: flex;
        align-items: center;
    }
    .go-there-content-left {
        background-image: url('/images/brouette.jpeg');
        background-size: cover;
        width: 50%;
        height: 600px;
        background-color: #55735F;
        margin-right: 30px;
    }
    .go-there-content-right {
        width: 50%;
        margin-left: 30px;
    }
    .faq-container {
        margin-top: 100px;
    }
    .answer-container {
        display: flex;
        flex-wrap: wrap;
    }

    .answer {
        width: 33.33%;
    }

    @media (max-width: 1300px) {
        .acces-photo {
            width: 100%;
        }
}

    @media (max-width: 1000px) {
        .contact-page {
            padding: 0 20px;
        }
        .contact-info-container {
            width: 100%;
        }
}
@media (max-width: 790px) {
 .contact-header-container {
    background-position: center;
 }   
.footer-section {
    width: 100%;
}
.go-there-content-container {
    flex-direction: column;
}
.go-there-content-right {
    margin-top: 20px;
}
.go-there-content-left, .go-there-content-right {
    width: 100%;
    margin-left: 0;
}
.go-there-container-title {
    width: 300px;
}
.acces-photo {
            height: 400px;
            background-position: center;
        }
        .go-there-content-left {
            height: 400px;
        }
}
@media (max-width: 390px) {
.acces-photo {
            height: 400px;
        }
.go-there-content-left {
            height: 300px;
        }
}
</style>