---
import Layout from '../layouts/ContentPage.astro';
---

<Layout
	title="Entreprises"
	description="Services aux entreprises du Jardin de Champagne"
>
<div class="header-section enterprise-header-container">
    <h1 class="header-title">Cohésion d’équipe, enracinée dans la nature</h1>
    <a class="call-to-action">Découvrir nos activités</a>
</div>
<div class="entreprise-page">
<section class="seminar-container">
    <h3 class="seminar-container-title">Un séminaire au vert proche de Paris </h3>
    <p class="seminar-content">Situé sur le chemin de Halage de Champagne-sur-Oise (Val d’Oise), à 500 mètres de la gare et à seulement 50 minutes de la Gare du Nord, le jardin vous accueille et organise avec vous, de mars à octobre, une ou plusieurs journées uniques de team building.</p>
    <p class="seminar-content">Découvrez nos 2 ateliers de cohésion d’équipe, conçus autour de valeurs de solidarité, de coopération et d’écologie.</p>
</section>
<section class="company-workshop">
    <div class="company-workshop-container">
        <div class="kitchen-workshop">
            <h4 class="workshop-title">Journée(s) <br /> Cuillette & assiette</h4>
            <div class="kitchen-picture"></div>
            <p class="">Un défi gourmand où plusieurs équipes devront, dans un temps imparti, se dépasser pour cueillir et cuisiner les produits du jardin, afin d’obtenir la meilleure note de leurs pairs après une dégustation collective.</p>
        </div>
        <div class="market-workshop">
            <h4 class="workshop-title">Journée(s) <br /> Mains dans la terre</h4>
            <div class="gardening-picture"></div>
            <p>Une Initation à la permaculture & au jardinage naturel offrant à vos collaborateurs l’opportunité de sortir de leur cadre habituel et de réaliser ensemble les gestes essemntiels à la production de légumes réellement bio.</p>
        </div>
    </div>
    <div class="enterprise-call-to-action-container">
        <a class="enterprise-call-to-action-black" href="">Demander un devis</a>
        <a class="enterprise-call-to-action-black" href="">Découvrir <br />notre plaquette</a>
    </div>
    <div class="seminar-photos">
        <div class="seminar-photo seminar-photo-1"></div>
        <div class="seminar-photo seminar-photo-2"></div>
        <div class="seminar-photo seminar-photo-3"></div>
    </div>
</section>
<section class="testimonies-container">
    <h3 class="testimonies-title">Retour sur la visite de la SNCF</h3>
    <div class="testimonies-photo"></div>
    <div class="testimonies-content-container">
        <p class="testimonies-content-left">Le mois dernier, 30 salariés de la SNCF se sont mobilisés lors d'une journée solidaire pour participer à plusieurs activités écologiques et agricoles. Ensemble, ils ont construit des jardinières éco-construites, récolté des courges prêtes à être consommées et contribué à la préparation de l'hivernage des planches de cultures.</p>
        <p class="testimonies-content-right">Ce moment de partage et d’engagement a permis d’associer solidarité et protection de l’environnement, tout en renforçant les liens entre les collaborateurs.</p>
    </div>
</section>
<section class="verbatim-container">
    <h3 class="verbatim-title">Ils témoignent<br /> de leur expérience</h3>
    <div class="verbatim-content-container">
        <div class="verbatim-content-container-left">
            <p>"Une parenthèse verte qui nous a permis de découvrir nos collègues sous un autre jour. Une vraie bouffée d’oxygène ! "</p>
            <p class="verbatim-signature">Marie, Responsable RH @SNCF</p>
        </div>
        <div class="verbatim-content-container-right">
            <p>"Nos équipes ont adoré le défi Cueillette & Assiette. Une expérience ludique et gourmande qui a fait l’unanimité !"</p>
            <p class="verbatim-signature">Alexandre, Directeur marketing @Nexity</p>
        </div>
    </div>
</section>
<section class="company-partners-container">
    <h3 class="company-partners-title">Ils nous ont<br /> fait confiance</h3>
    <div class="partners-logo-container">
        <div><a href="https://www.agence-bea.com/" target="_blank"><img class="partner-logo" src="/images/logo-bea.png" alt="logo Béa"></a></div>
        <div><a href="https://www.groupe-sncf.com/fr" target="_blank"><img class="partner-logo"src="/images/logo-sncf.png" alt="logo SNCF"></a></div>
        <div><a href="https://www.nexity.fr/" target="_blank"><img class="partner-logo" src="/images/logo-nexity.png" alt="logo Nexity"></a></div>
    </div>
</section>
<div class="enterprise-call-to-action-container">
    <a class="enterprise-call-to-action-black" href="mailto:bonjour@jardindechampagne.com?Subject=Demande de devis - Journée entreprise">Demander un devis</a>
    <a class="enterprise-call-to-action-black" href="">Découvrir notre plaquette</a>
</div>
</div>
</Layout>
<style>
    .entreprise-page {
        margin-bottom: 100px;
    }
        .enterprise-header-container {
        position: relative;
		height: 700px;
        margin-top: -140px;
        background-image: url('/images/enterprise-header-picture.jpg');
        background-size: cover;
    }
    .enterprise-header-title {
        color: #FFF6E5;
        font-size: 50px;
        width: 445px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .call-to-action {
        background-color:transparent;
        border-radius:1px;
        border:1px solid #FFFFFF;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:20px;
        padding:15px 0px;
        margin: 10px;
        text-decoration:none;
        width: 150px;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .enterprise-call-to-action-black {
        background-color:transparent;
        border-radius:1px;
        border:1px solid #000000;
        display:inline-block;
        cursor:pointer;
        color:#000000;
        font-family:Arial;
        font-size:20px;
        padding:15px 0px;
        margin: 20px;
        text-decoration:none;
        width: 150px;
        text-align: center;
    }
    .seminar-container {
        margin-top: 100px;
    }
    .seminar-container-title {
        font-size: 40px;
        font-weight: 300;
        width: 400px;
    }
    .seminar-content {
        width: 600px;
    }
    .seminar-photo-1 {
        background-image: url('/images/recolte-ail-min.jpg');
        background-size: cover;
    }
    .seminar-photo-2 {
        background-image: url('/images/planche-salade-min.jpg');
        background-size: cover;
    }
    .seminar-photo-3 {
        background-image: url('/images/construction-serre-min.jpg');
        background-size: cover;
    }
    .company-workshop-container {
        display: flex;
        margin-top: 100px;
    }
    .workshop-title {
        font-size: 40px;
        font-weight: 400;
    }
    .kitchen-workshop {
        margin-right: 30px;
    }
    .gardening-workshop {
        margin-left: 30px;
    }
    .kitchen-picture {
        width: 100%;
        height: 700px;
        background-image: url('/images/kitchen-picture.jpg');
        background-size: cover;
        margin-bottom: 50px;
    }
    .gardening-picture {
        width: 100%;
        height: 700px;
        background-image: url('/images/gardening-picture.jpg');
        background-size: cover;
        margin-bottom: 50px;
    }
    .enterprise-call-to-action-container {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .seminar-photos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .seminar-photo {
        width: 400px;
        height: 500px;
        background-color: #55735F;
        margin: 20px;
    }
    .testimonies-container {
        margin-top: 100px;
    }
    .testimonies-title {
        font-size: 40px;
        font-weight: 300;
        width: 310px;
    }
    .testimonies-photo {
        margin-top: 30px;
        width: 100%;
        height: 600px;
        background-color: #55735F;
        background-image: url('/images/journee-serre-min.jpg');
        background-position: center;
        background-size: cover;
        margin-bottom: 30px;
    }
    .testimonies-content-container {
        display: flex;
    }
    .testimonies-content-left {
        width: 50%;
        padding-right: 20px;
    }
    .testimonies-content-right {
        width: 50%;
        padding-left: 20px;
    }
    .verbatim-container {
        margin-top: 100px;
    }
    .verbatim-title {
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 30px;
    }
    .verbatim-content-container {
        display: flex;
    }
    .verbatim-content-container-left {
        width: 50%;
        margin-right: 50px;
    }
    .verbatim-content-container-right {
        width: 50%;
        margin-left: 50px;
    }
    .verbatim-signature {
        font-size: 12px;
    }
    .company-partners-container {
        margin-top: 100px;
    }
    .company-partners-title {
        font-size: 40px;
        font-weight: 300;
    }
    .partners-logo-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
    }
    .partner-logo {
        width: 200px;
    }

    @media (max-width: 1100px) {
		.entreprise-page {
			padding: 0 20px
		}
    }
    @media (max-width: 790px) {
		.seminar-container {
			width: 100%;
            text-align: center;
		}
        .seminar-content {
            width: 100%;
            text-align: center;
        }
        .seminar-container-title {
            width: 100%;
            text-align: center;
        }
        .company-workshop-container {
            flex-direction: column;
        }
        .workshop-title {
            text-align: center;
        }
        .kitchen-workshop {
            margin-right: 0;
        }
        .kitchen-picture, .gardening-picture {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .workshop-title {
            margin-top: 30px;
        }
        .seminar-photos {
            display: none;
        }
        .partners-logo-container {
            flex-direction: column;
            justify-content: center;
        }
        .partners-logo-container > div {
            margin-top: 30px;
        }
        .partner-logo {
        width: 150px;
    }
    .enterprise-call-to-action-black {
        font-size:16px;
    }
    }        
    @media (max-width: 390px) {
        .kitchen-picture, .gardening-picture {
            height: 400px;
        }
        .testimonies-photo {
            height: 400px;
            margin-bottom: 20px;
        }
        .testimonies-content-container {
            flex-direction: column;
        }
        .testimonies-content-left, .testimonies-content-right {
            width: 100%;
            padding: 0;
        }
        .verbatim-content-container {
            flex-direction: column;
        }
        .verbatim-content-container-left, .verbatim-content-container-right {
            width: 100%;
            margin: 0;
        }
    }         
</style>