---
import Layout from '../layouts/ContentPage.astro';
---

<Layout
	title="Ventes"
	description="Informations sur les légumes et les ventes du Jardin de Champagne."
>
<div class="sale-header-container">
    <h1 class="sale-header-title">Découvrez notre production bio, locale, de saison et à prix solidaire. </h1>
    <a class="call-to-action">Vente en ligne</a>
</div>
<section class="market-sales-container">
	<div class="market-sales-container-left">
		<h3 class="market-sales-content-title">Ventes physique</h3>
		<p class="market-sales-content">De juin à octobre, nous organisons deux ventes physiques hebdomadaires : </p>
		<p class="market-sales-content">Sur place : les vendredis de 16h à 20h <br />À Emmaus : les mercredis de 14h à 17h</p>
		<h3 class="market-sales-content-title">Click & collect</h3>
		<p class="market-sales-content">Il est également possible de profiter de notre service de vente à emporter en commandant en ligne les produits de votre choix, puis en les récupérant sur place, chaque lundi entre 14h et 17h.</p>
		<a class="market-sales-call-to-action">Vente en ligne</a>
	</div>
	<div class="market-sales-container-right"></div>
</section>
<section class="company-workshop">
    <div class="company-workshop-container">
        <div class="kitchen-workshop">
            <div class="kitchen-picture"></div>
			<h4 class="workshop-title">Des fruits et légumes agroécologiques</h4>
            <p class="">Depuis notre création en 2021, l’intégralité de notre production est cultivée selon les principes de l’agroécologie. Elle s’inspire des méthodes traditionnelles d’une agriculture sans pesticides ni machineries lourdes mais avec semences paysannes ou chaque élément de la biodiversité participe activement à la régénération et à l’équilibre des sols.</p>
        </div>
        <div class="market-workshop">
            <div class="gardening-picture"></div>
			<h4 class="workshop-title">Adhésion nécessaire</h4>
            <p>Afin que notre association reste fidèle à son objet non lucratif, seules les personnes adhérentes (10€/an) peuvent bénéficier de nos produits. Cette adhésion symbolique nous permet de continuer à proposer des produits locaux tout en respectant le cadre légal qui encadre notre fonctionnement associatif.</p>
        </div>
    </div>
</section>
</Layout>
<style>
	.sale-header-container {
        position: relative;
		height: 700px;
        margin-top: -140px;
        background-image: url('vente-header-picture.jpg');
        background-size: cover;
    }
    .sale-header-title {
        color: #FFF6E5;
        font-size: 50px;
        width: 445px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .call-to-action {
        background-color:transparent;
        border-radius:1px;
        border:1px solid #FFFFFF;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:20px;
        padding:15px 0px;
        margin: 10px;
        text-decoration:none;
        width: 150px;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .call-to-action-black {
        background-color:transparent;
        border-radius:1px;
        border:1px solid #000000;
        display:inline-block;
        cursor:pointer;
        color:#000000;
        font-family:Arial;
        font-size:20px;
        padding:15px 0px;
        margin: 10px;
        text-decoration:none;
        width: 150px;
        text-align: center;
    }
	.market-sales-container {
        display: flex;
        margin-top: 100px;
    }
    .market-sales-container-left {
        position: relative;
        width: 50%;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        padding: 100px 0;
    }
    .market-sales-container-right {
        background-image: url('project-picture-one.png');
        background-size: cover;
        width: 50%;
        height: auto;
        margin-left: 50px;
    }
    .market-sales-content-title {
        font-size: 40px;
        font-weight: 300;
    }
    .market-sales-call-to-action {
        align-self: center;
        margin-top: 50px;
        border-radius:1px;
        border:1px solid #000;
        display:inline-block;
        cursor:pointer;
        color:#000;
        font-family:Arial;
        font-size:20px;
        padding:15px 0px;
        text-decoration:none;
        width: 150px;
        text-align: center;
    }
	.company-workshop-container {
        display: flex;
        margin-top: 100px;
    }
    .workshop-title {
        font-size: 40px;
        font-weight: 400;
    }
    .kitchen-workshop {
		width: 50%;
        margin-right: 30px;
    }
    .market-workshop {
		width: 50%;
        margin-left: 30px;
    }
    .kitchen-picture {
        width: 100%;
        height: 500px;
        background-image: url('kitchen-picture.png');
        background-size: cover;
        margin-bottom: 50px;
    }
    .gardening-picture {
        width: 100%;
        height: 500px;
        background-image: url('gardening-picture.png');
        background-size: cover;
        margin-bottom: 50px;
    }
</style>
