---
const today = new Date();
---

<footer>
	<div class="footer-section">
		<p class="footer-section-title">Navigation</p>
		<ul class="footer-navigation-list">
			<li class="footer-navigation-link"><a href="/">Accueil</a></li>
			<li class="footer-navigation-link"><a href="/agenda">Agenda</a></li>
			<li class="footer-navigation-link"><a href="/projet">Projet</a></li>
			<li class="footer-navigation-link"><a href="/entreprises">Entreprises</a></li>
			<li class="footer-navigation-link"><a href="/blog">Actualités</a></li>
		</ul>
	</div>
	<div class="footer-section">
		<p class="footer-section-title">Adresse</p>
		<p class="footer-section-text">36 Chemin du Halage</p>
		<p class="footer-section-text">95660 - Champagne-sur-Oise</p>
		<div class="footer-section-map-link-container">
			<a href="https://maps.app.goo.gl/zomz2xHwPTPFSrMA6" target="_blank">
				<img src="/images/map.svg" alt="map icon" class="footer-map-icon">
			</a>
		</div>
	</div>
	<div class="footer-section">
		<p class="footer-section-title">Contact</p>
		<p class="footer-section-text">bonjour@jardindechampagne.com</p>
		<p class="footer-section-text">07.62.64.97.87</p>
		<div class="footer-social-icons-container">
			<a href="https://www.instagram.com/jardindechampagne/" target="_blank">
				<img src="/images/instagram.svg" alt="map icon" class="footer-instagram-icon">
			</a>
			<a href="https://www.facebook.com/jardindechampagne/" target="_blank">
				<img src="/images/facebook.svg" alt="map icon" class="footer-facebook-icon">
			</a>
			<a href="https://fr.linkedin.com/company/jardin-p%C3%A9dagogique-de-champagne" target="_blank">
				<img src="/images/linkedin.svg" alt="map icon" class="footer-linkedin-icon">
			</a>
		</div>
	</div>
	<div class="footer-section">
		<p class="footer-section-title">Ventes de légumes</p>
		<p class="footer-section-text">De mai à octobre</p>
		<p class="footer-section-text">Sur place : vendredi de 16h à 19h</p>
		<p class="footer-section-text">Nogent à l'Isle-Adam : samedi de 9h à 12h</p>
		<p class="footer-section-text">Click and collect : Lundi de 17h à 18h</p>
	</div>
</footer>
<style>
	footer {
		display: flex;
		flex-wrap: wrap;
		padding-top: 70px;
		padding-bottom: 30px;
		border-top: solid black 1px;
		width: 1200px;
		margin: auto;
	}
	.footer-section {
		width: 25%;
		text-align: left;
	}
	.footer-navigation-list {
		padding-left: 0;
		line-height: 1.25;
	}
	.footer-section-title {
		font-size: 16px;
		font-weight: bold;
	}
	.footer-navigation-link {
		font-size: 14px;
		list-style-type: none;
	}
	.footer-navigation-link a:hover {
		text-decoration: underline;
	}
	.footer-section-text {
		font-size: 14px;
		margin: 0;
	}
	.social-links {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
	.footer-map-icon {
		width: 15px;
  		margin-left: -2px;
	}
	.footer-section-map-link-container {
		display: flex;
	}
	.footer-social-icons-container {
		display: flex;
		align-items: center;
		margin-left: -3px;
	}
	.footer-instagram-icon {
		width: 21px;
		margin-bottom: -1px;
	}
	.footer-facebook-icon {
		width: 19px;
	}
	.footer-linkedin-icon {
		width: 19px;
	}

	@media (max-width: 1300px) {
		footer {
			width: 100%;
			padding: 30px 30px;
		}

		/* .footer-section {
			width: 50%;
		} */
}
@media (max-width: 1000px) {
		.footer-section {
			width: 50%;
			margin-top: 20px;
		}
}
@media (max-width: 790px) {
		.footer-section {
			width: 100%;
			margin-top: 30px;
			text-align: center;
		}
		.footer-section-map-link-container {
			justify-content: center;
		}
		.footer-social-icons-container {
			justify-content: center;
		}
}
</style>
