---
import HeaderLink from './HeaderLink.astro';
---

<header id="header">
	<div class="top-banner">
		<a href="https://www.helloasso.com/associations/racines-de-demain" target="_blank" class="top-banner-link">Faire un don</a>
		<span class="banner-divider">|</span>
		<a href="mailto:bonjour@jardindechampagne.com" target="_blank" class="top-banner-link">bonjour@jardindechampagne.com</a>
		<span class="banner-divider">|</span>
		<a href="https://maps.app.goo.gl/zomz2xHwPTPFSrMA6" target="_blank" class="top-banner-link m-0">Champagne-sur-Oise</p>
		<span class="banner-divider">|</span>
		<div class="banner-social-links-container">
			<a href="https://www.instagram.com/jardindechampagne/" target="_blank">
				<img src="/images/instagram.svg" alt="map icon" class="banner-instagram-icon">
			</a>
			<a href="https://www.facebook.com/jardindechampagne/" target="_blank">
				<img src="/images/facebook.svg" alt="map icon" class="banner-facebook-icon">
			</a>
			<a href="https://fr.linkedin.com/company/jardin-p%C3%A9dagogique-de-champagne" target="_blank">
				<img src="/images/linkedin.svg" alt="map icon" class="banner-linkedin-icon">
			</a>
		</div>
	</div>
		<nav class="navigation-menu">
			<h2><a href="/"><img src="/images/logo-jardindechampagne.png" class="header-logo" alt="logo - Jardin de Champagne"></a></h2>
			<ul class="navigation-links">
				<li class="header-link"><a href="/agenda">Agenda</a></li>
				<li class="header-link sub-menu">
					<a href="">Participer</a>
					<ul class="subnavigation-menu">
						<li class="subnavigation-item"><a href="/entreprises">Organiser un teambuilding</a></li>
						<li class="subnavigation-item"><a href="/scolaires">Venir avec sa classe</a></li>
						<li class="subnavigation-item"><a href="/benevoles">S'impliquer dans le projet</a></li>
						<li class="subnavigation-item"><a href="/ventes">Venir aux ventes de légumes</a></li>
						<li class="subnavigation-item"><a href="https://www.helloasso.com/associations/racines-de-demain">Faire un don</a></li>
					</ul>
				</li>
				<li class="header-link"><a href="/projet">Projet</a></li>
				<li class="header-link"><a href="/blog">Actualités</a></li>
				<li class="header-link"><a href="/contact">Contact</a></li>
				<!-- <HeaderLink href="/agenda" class="header-link">Agenda</HeaderLink>
				<p class="header-link sub-menu">
					Participer
					<div class="subnavigation-menu">
						<a href="/entreprises">Organiser un teambuilding</a>
					</div>
				</p>
				<HeaderLink href="/projet" class="header-link">Projet</HeaderLink>
				<HeaderLink href="/blog" class="header-link">Actualités</HeaderLink>
				<HeaderLink href="/contact" class="header-link">Contact</HeaderLink> -->
			</ul>
		</nav>
</header>
<style>
.top-banner {
	font-size: 14px;
	display: flex;
	justify-content: end;
	align-items: center;
	width: 1100px;
	margin: auto;
	padding-top: 50px;
	padding-right: 50px;
  	padding-bottom: 15px;
}	
.header-logo {
	padding-top: 25px;
	padding-left: 50px;
}
/* #header {
	z-index: 1;
} */
.navigation-menu {
	position: relative;
	display: flex;
	align-items: center;
 	justify-content: space-between;
	width: 1100px;
	margin: auto;
	z-index: 1;
}
.header-link {
	font-size: 22px;
	padding-right: 50px;
}
.header-link:hover {
	text-decoration: underline;
}
.navigation-links {	
	display: flex;
	color: #FFF6E5;
}
.subnavigation-menu {
  display: none;
  position: absolute;
  left: 48%;
  background-color: #FFF6E5;
  width: 300px;
  z-index: 1;
  padding: 20px;
}
.sub-menu:hover .subnavigation-menu {
  display: block;
}
.subnavigation-item {
	font-size: 18px;
	font-weight: 400;
	color: #000000;
}
.subnavigation-item:hover {
	text-decoration: underline;
}
.banner-divider {
	padding: 0 10px;
}
.banner-social-links-container {
	display: flex;
	align-items: center;
}
.banner-instagram-icon {
	width: 21px;
	margin-bottom: -1px;
}
.banner-facebook-icon {
	width: 19px;
}
.banner-linkedin-icon {
	width: 19px;
}
.top-banner-link:hover {
	text-decoration: underline;
}
@media (max-width: 1300px) {
	.top-banner {
	width: 100%;
	padding-right: 0px;
}	
}
@media (max-width: 1100px) {
	.header-section {
		display: none;
	}
	.top-banner {
		display: none;
	}
	.navigation-menu {
		display: none;
	}
}
</style>
