---
import HeaderLink from './HeaderLink.astro';
---

<header id="header">
	<a class="announcement-bar" href="/agenda/vente-de-legumes/">Prochaine vente de légumes le 15/08 !</a>
	<div class="top-banner">
		<a href="https://www.helloasso.com/associations/racines-de-demain" target="_blank" class="top-banner-link">Faire un don</a>
		<span class="banner-divider">|</span>
		<a href="mailto:bonjour@jardindechampagne.com" target="_blank" class="top-banner-link">bonjour@jardindechampagne.com</a>
		<span class="banner-divider">|</span>
		<a href="https://maps.app.goo.gl/zomz2xHwPTPFSrMA6" target="_blank" class="top-banner-link m-0">Champagne-sur-Oise</p>
		<span class="banner-divider">|</span>
		<div class="banner-social-links-container">
			<a href="https://www.instagram.com/jardindechampagne/" target="_blank">
				<img src="/images/instagram.svg" alt="map icon" class="banner-instagram-icon">
			</a>
			<a href="https://www.facebook.com/jardindechampagne/" target="_blank">
				<img src="/images/facebook.svg" alt="map icon" class="banner-facebook-icon">
			</a>
			<a href="https://fr.linkedin.com/company/jardin-p%C3%A9dagogique-de-champagne" target="_blank">
				<img src="/images/linkedin.svg" alt="map icon" class="banner-linkedin-icon">
			</a>
		</div>
	</div>
		<nav class="navigation-menu">
			<h2><a href="/"><img src="/images/logo-jardindechampagne.png" class="header-logo" alt="logo - Jardin de Champagne"></a></h2>
			<ul class="navigation-links">
				<li class="header-link"><a href="/agenda">Agenda</a></li>
				<li class="header-link sub-menu">
					<a href="">Participer</a>
					<ul class="subnavigation-menu">
						<li class="subnavigation-item"><a href="/entreprises">Organiser <br /> un teambuilding</a></li>
						<li class="subnavigation-item"><a href="/scolaires">Venir <br />avec sa classe</a></li>
						<li class="subnavigation-item"><a href="/benevoles">S'impliquer  <br />dans le projet</a></li>
						<li class="subnavigation-item"><a href="/ventes">Ventes  <br />de légumes</a></li>
						<li class="subnavigation-item"><a href="https://www.helloasso.com/associations/racines-de-demain">Faire un don</a></li>
					</ul>
				</li>
				<li class="header-link"><a href="/projet">Projet</a></li>
				<li class="header-link"><a href="/blog">Actualités</a></li>
				<li class="header-link"><a href="/contact">Contact</a></li>
			</ul>
				<a href="javascript:void(0);" id="burgerMenu">
					<img class="burger-menu" src="/images/menu.png" alt="burger menu">
				  </a>
				  <ul id="mobile-menu" class="mobile-navigation">
					<li class="mobile-menu-item"><a href="/agenda">Agenda</a></li>
					<li class="mobile-menu-item"><a>Participer</a></li>
						<ul class="mobile-submenu">
							<li class="mobile-subnavigation-item"><a href="/entreprises">Organiser un teambuilding</a></li>
							<li class="mobile-subnavigation-item"><a href="/scolaires">Venir avec sa classe</a></li>
							<li class="mobile-subnavigation-item"><a href="/benevoles">S'impliquer dans le projet</a></li>
							<li class="mobile-subnavigation-item"><a href="/ventes">Ventes de légumes</a></li>
							<li class="mobile-subnavigation-item"><a href="https://www.helloasso.com/associations/racines-de-demain">Faire un don</a></li>
						</ul>
					<li class="mobile-menu-item"><a href="/projet">Projet</a></li>
					<li class="mobile-menu-item"><a href="/blog">Actualités</a></li>
					<li class="mobile-menu-item"><a href="/contact">Contact</a></li>
				</ul>
		</nav>
</header>
<style>
.announcement-bar {
	background-color: #7FA267;
	color: #FFFFFF;
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;

}	
	#mobile-menu {
	display: none;
}	
.top-banner {
	font-size: 14px;
	display: flex;
	justify-content: end;
	align-items: center;
	width: 1300px;
	margin: auto;
	padding-top: 50px;
  	padding-bottom: 2px;
}	
.header-logo {
	padding-top: 25px;
	padding-left: 50px;
	width: 230px;
}
.burger-menu {
	display: none;
}
/* #header {
	z-index: 1;
} */
.navigation-menu {
	position: relative;
	display: flex;
	align-items: center;
 	justify-content: space-between;
	width: 1300px;
	margin: auto;
	z-index: 1;
	height: 140px;
}
.header-link {
	font-size: 20px;
	padding-right: 50px;
}
.header-link:hover {
	text-decoration: underline;
}
.navigation-links {	
	display: flex;
	color: #FFF6E5;
	margin-right: -370px;
}
.subnavigation-menu {
  display: none;
  position: absolute;
  top: 60%;
  left: 58%;
  background-color: #FFF6E5;
  width: 200px;
  z-index: 1;
  border-radius: 5px;
  opacity: 0.9;
}
.sub-menu:hover .subnavigation-menu {
  display: block;
}
.subnavigation-item:first-child {
	border-top: none
}
.subnavigation-item {
	line-height: 1.05;
	font-size: 18px;
	font-weight: 400;
	color: #000000;
	padding: 15px;
	border-top: 1px solid #000000;
}
.banner-divider {
	padding: 0 10px;
}
.banner-social-links-container {
	display: flex;
	align-items: center;
}
.banner-instagram-icon {
	width: 21px;
	margin-bottom: -1px;
}
.banner-facebook-icon {
	width: 19px;
}
.banner-linkedin-icon {
	width: 19px;
}
.top-banner-link:hover {
	text-decoration: underline;
}
@media (max-width: 1300px) {
	.top-banner {
	width: 100%;
	padding-right: 0px;
}	
}
@media (max-width: 1260px) {
	.header-section {
		display: none;
	}
	.top-banner {
		display: none;
	}
	.navigation-links {
		display: none;
	}
	.navigation-menu {
		width: 100%;
		justify-content: center;
	}
	.header-logo {
		width: 150px;
		margin-top: 30px;
		padding: 0;
	}
	.burger-menu {
	display: block;
	position: absolute;
	top: 41%;
	left: 94%;
	width: 30px;
	height: 30px;
	margin-right: 20px;
	z-index: 100;
}
.mobile-navigation {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #FFF6E5;
	text-align: center;
	padding: 110px 0;
}
.mobile-menu-item {
	font-size: 30px;
	color: #000000;
}

}
@media (max-width: 790px) {
	.burger-menu {
	left: 88%;
}
}

</style>

<script>
document.addEventListener("astro:page-load", () => {	
	const burgerMenu = document.getElementById("burgerMenu");
	const mobileMenu = document.getElementById("mobile-menu");

	burgerMenu.addEventListener("click", () => toggleMenu());

	function toggleMenu() {
		console.log('lala')
		if (mobileMenu.style.display === "block") {
			mobileMenu.style.display = "none";
			console.log('lala1')
		} else {
			mobileMenu.style.display = "block";
			console.log('lala2')
		}
		
	}

	document.addEventListener("click", (event) => {
	if (!burgerMenu.contains(event.target) && !mobileMenu.contains(event.target)) {
		mobileMenu.style.display = "none";
		// burgerIcon.classList.remove("open");
	}
});
});
</script>