---
import HeaderLink from './HeaderLink.astro';
---

<header id="header">
	<div class="top-banner">
		<a href="https://www.helloasso.com/associations/racines-de-demain" target="_blank" class="top-banner-link">Faire un don</a>
		<span class="banner-divider">|</span>
		<a href="mailto:bonjour@jardindechampagne.com" target="_blank" class="top-banner-link">bonjour@jardindechampagne.com</a>
		<span class="banner-divider">|</span>
		<p>Champagne-sur-Oise</p>
		<span class="banner-divider">|</span>
		<div class="banner-social-links-container">
			<a href="https://www.instagram.com/jardindechampagne/" target="_blank">
				<img src="/instagram.svg" alt="map icon" class="banner-instagram-icon">
			</a>
			<a href="https://www.facebook.com/jardindechampagne/" target="_blank">
				<img src="/facebook.svg" alt="map icon" class="banner-facebook-icon">
			</a>
			<a href="https://fr.linkedin.com/company/jardin-p%C3%A9dagogique-de-champagne" target="_blank">
				<img src="/linkedin.svg" alt="map icon" class="banner-linkedin-icon">
			</a>
		</div>
	</div>
	<div class="header-section">
		<nav class="navigation-menu">
			<h2><a href="/"><img src="/logo-jardindechampagne.png" class="header-logo" alt="logo - Jardin de Champagne"></a></h2>
			<div class="navigation-links">
				<HeaderLink href="/agenda" class="header-link">Agenda</HeaderLink>
				<HeaderLink href="/" class="header-link">Participer</HeaderLink>
				<HeaderLink href="/projet" class="header-link">Projet</HeaderLink>
				<HeaderLink href="/blog" class="header-link">Actualités</HeaderLink>
				<HeaderLink href="/contact" class="header-link">Contact</HeaderLink>
			</div>
		</nav>
		<h1 class="header-title">Tiers-lieu <br> écologique & social</h1>
		<div class="call-to-action-container">
			<button class="call-to-action">Découvrir <br>la programmation</button>
			<button class="call-to-action">Commander <br>des légumes</button>
		</div>
	</div>
</header>
<style>
.top-banner {
	font-size: 14px;
	display: flex;
	justify-content: end;
	align-items: center;
	width: 1300px;
	margin: auto;
	padding-top: 50px;
	padding-right: 90px;
}	
.header-section {
	position: relative;
	background-image: url('jardindechampagne.jpg');
	background-size: cover;
	width: 1300px;
	height: 700px;
	margin: auto;
}
.header-logo {
	padding-top: 25px;
	padding-left: 50px;
}
.navigation-menu {
	display: flex;
	align-items: center;
 	justify-content: space-between;
}
.header-link {
	font-size: 22px;
	color: #FFF6E5;
	padding-right: 50px;
}
.header-link:hover {
	color: #55735F;
}
.navigation-links {	
}
.banner-divider {
	padding: 0 10px;
}
.banner-social-icons-container {
}
.banner-instagram-icon {
	width: 21px;
	margin-bottom: -1px;
}
.banner-facebook-icon {
	width: 19px;
}
.banner-linkedin-icon {
	width: 19px;
}
.top-banner-link:hover {
	text-decoration: underline;
}
.header-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #FFF6E5;
	font-size: 55px;
	font-weight: 600;
}
.call-to-action-container {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.call-to-action {
	background-color:transparent;
	border-radius:1px;
	border:1px solid #FFFFFF;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:6px 0px;
	margin: 10px;
	text-decoration:none;
	width: 230px;
}
.call-to-action:hover {
	background-color:#55735F;
	opacity: 80%;
}
.call-to-action:active {
	position:relative;
	top:1px;
}


</style>
